

  #app {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    color: #756C83;
  }

  .el-header {
    text-align: center;
  }

  .todoinput {
    margin-bottom: 40px;
  }

  .list-row {
    height: 40px;
    background-color: #fbfbfb;
    margin-bottom: 5px;
  }

  .check {
    text-align: center;
    line-height: 40px;
  }

  .red {
    border-left: #ef5f65 2px solid;
  }

  .green {
    border-left: #B9E1DC 2px solid;
  }

  .ipcont {
    width: 90%;
    margin-top: 8px;
    border: 0;
    line-height: 24px;
    background-color: transparent;
    font-size: 16px;
    color: #756C83;
  }

  .close {
    text-align: center;
    line-height: 40px;
  }

  .el-icon-close {
    cursor: pointer;
  }

  .el-icon-close:hover {
    color: #ef5f65;
  }

  .done {
    text-decoration: line-through;
  }
  .float-right{
      float: right;
  }
  .delButton{
      margin-right: 25px;
  }
  .el-button-style{
    margin-right: 20px;
  }